---
---

@import "jekyll-theme-midnight";

body {
  background: url('/groundshattering-thesis-surge-arresters/assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}
